* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #5c0951;
}

.game-container {
    text-align: center;
}

h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

.game-board {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-gap: 10px;
    justify-content: center;
    margin-bottom: 20px;
}

.card {
    width: 100px;
    height: 100px;
    background-color: #111414;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    cursor: pointer;
    transition: transform 0.3s;
}

.card.flipped {
    background-color: #297207;
    transform: rotateY(180deg);
}

.card.matched {
    background-color: #d3cccc;
    pointer-events: none;
}

button {
    padding: 10px 20px;
    font-size: 1em;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
